@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(141, 141, 141, 0.247);
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p a {
    color: crimson;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 250;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}


/* Header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.466);
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

.ref {
    margin-left: 10%;
    margin-top: 9rem;
}

.ref a {
    text-decoration: none;
    color: crimson;
    font-size: 20px;
    font-weight: 250;
}


/* End Header section */


/* Hero Section */

#showcase {
    background-image: url('assert/home/cover.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

#showcase p {
    font-size: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .tent {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide .tent h1 {
    margin-bottom: 10px;
}

.slide.current .tent {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 500px) {
    .slide .content {
        bottom: -400px;
        left: 0;
        width: -50%;
    }
    .slide.current .content {
        transform: translateY(-50%);
    }
}


/* Backgorund Images */

.slide:nth-child(2) {
    background: url('assert/home/2.png') no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url('assert/home/3.png') no-repeat center top/cover;
}


/*-----*/


/* End Hero Section */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.col-left {
    width: 250px;
    height: 360px;
}

.col-right {
    width: 100%;
}

t.col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

.col-right p {
    margin-bottom: 20px;
}

.col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

.col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

.col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}


/* End About Section */


/* formation section*/

.course .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box {
    width: 35rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    position: relative;
    margin: 1.5rem;
}

.course .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content {
    padding: 1rem;
}

.course .box-container .box .content .title {
    color: #444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover {
    text-decoration: underline;
}

.course .box-container .box .content p {
    padding: 1rem 0;
    color: #666;
    font-size: 1.5rem;
}

.course .box-container .box .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
}

.course .box-container .box .content .info h3 {
    font-size: 1.5rem;
    padding: 1rem;
}

.course .box-container .box .price {
    position: absolute;
    top: 16rem;
    right: 1rem;
    height: 7rem;
    width: 7rem;
    line-height: 17rem;
    text-align: center;
    border-radius: 50%;
    color: crimson;
    font-size: 2rem;
}


/* End formation section*/


/* contact Section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/*End contact Section */


/* Footer */

#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 4rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}


/* End Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
}


/* End  Media Query For Desktop */


/*=====contact=====*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
}


/* Contact Form Styling */

.cont {
    padding: 0 50px 70px;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}

.section2 .col2 {
    width: 48.71%;
}

.section2 .col2.first {
    float: left;
}

.section2 .col2.last {
    float: right;
}

.section2 .col2.column2 {
    padding: 0 30px;
}

.section2 span.collig {
    color: #a2a2a2;
    margin-right: 10px;
    display: inline-block;
}

.section2 .sec2addr {
    display: block;
    line-height: 26px;
}

.section2 .sec2addr p:first-child {
    margin-bottom: 10px;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}

.section2 .sec2contactform textarea {
    width: 100%;
    display: block;
    color: #666;
    resize: none;
}

.section2 .sec2contactform input[type="submit"] {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: crimson;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}

.section2 .sec2contactform h3 {
    font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: crimson;
}


/* @media querries */

@media only screen and (max-width: 1266px) {
    .section2 {
        width: 100%;
    }
    .log {
        flex: initial;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

@media only screen and (max-width: 960px) {
    .cont {
        padding: 0 30px 70px;
    }
    .section2 .col2 {
        width: 100%;
        display: block;
    }
    .section2 .col2.first {
        margin-bottom: 10px;
    }
    .section2 .col2.column2 {
        padding: 0;
    }
    body .sec2map {
        height: 250px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section2 .sec2addr {
        font-size: 14px;
    }
    .section2 .sec2contactform h3 {
        font-size: 16px;
    }
    .section2 .sec2contactform input[type="text"],
    .section2 .sec2contactform input[type="email"],
    .section2 .sec2contactform textarea {
        padding: 10px;
        margin: 3px 0;
    }
    .section2 .sec2contactform input[type="submit"] {
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .section1 h1 {
        font-size: 28px;
    }
}


/*=====END contact=====*/


/*====================/
/*=====about page====*/

.ao {
    padding-left: 10%;
    padding-right: 10%;
    height: 400px;
    padding-top: 3%;
}

#abou .co-center {
    margin-top: 3%;
    text-align: center;
}

#abou .co-right {
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#abou .co-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#abou .co-left .abou-im {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#abou .co-left .abou-im::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 100%;
    width: 100%;
    border: 7px solid crimson;
    z-index: -1;
}


/*-----prof section----*/

.colum {
    float: left;
    margin-left: 6%;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 750px) {
    .colum {
        width: 100%;
        display: block;
        margin: 0%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.conti {
    padding: 0 16px;
}

.conti::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: crimson;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}


/*===========*/


/*==================cours page===========*/

.tit {
    padding-top: 2%;
}


/*======last news========*/

.wrapper {
    margin: 0 auto;
    padding-left: 16%;
    padding-right: 16%;
    display: grid;
    justify-content: start;
    align-content: start;
    padding-top: 4rem;
}

.wrapper h1 {
    font-size: 22px;
}

hr {
    height: 3px;
    background-color: crimson;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 990px;
}


/*====================*/


/*=====Cours page=====*/

.cour {
    background-color: white;
    min-height: 400px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
}

.item1 {
    width: 60%;
    margin-left: 3%;
}

.item1 h1 {
    padding-top: 17px;
    margin-bottom: 12px;
    font-size: 2.8rem;
    font-weight: 250;
}

.item3 {
    margin-top: 4%;
    margin-right: 2%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.groups,
.re {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.groups .box {
    max-width: 30rem;
}

.lol {
    padding-top: 9px;
    width: 240px;
    height: 40px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 350;
    margin-top: 30px;
}

.cour .groups {
    margin-left: 10%;
}

.res {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.3s ease;
    margin-right: 3%;
}

.res:hover {
    color: white;
    background-color: crimson;
}


/*---------------------------*/

.nav-btn {
    display: flex;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
    background-color: #fff;
    color: crimson;
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: #fff;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}

.dropdown-link>a {
    display: flex;
    background-color: rgba(255, 255, 255, 0.637);
    color: #48556367;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover>a {
    background-color: #485563;
    color: #fff;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: #666;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}